.item-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px 20px;
	overflow: hidden;

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.item-footer {
		margin-top: 10px;
		opacity: 0.75;
		font-size: 12px;
	}
}
