.button-group {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.04);
	padding: 2px;
	display: flex;
	align-items: center;
	gap: 2px;

	.ant-divider-vertical {
		margin-inline: 1px;
	}
}

html[data-theme="dark"] {
	.button-group {
		background-color: rgba(255, 255, 255, 0.06);

		.ant-btn.ant-btn-text,
		.ant-btn-icon {
			color: rgba(255, 255, 255, 0.85);
		}

		.ant-btn.ant-btn-text:hover {
			background-color: rgba(255, 255, 255, 0.08);
		}
	}
}
